body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('./image.png');
  background-size: cover;
  background-color:	#db7c87;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  text-align: center;
  color: #794044;
}

.input-section {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

#addButton {
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: 	#2e2e44;
  color: #FFF;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFD6BA;
}

.task-text {
  flex: 1;
  margin-left: 10px;
}

.delete-button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: #FF6F61;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: #D93426;
}

